/* Portfolio.module.scss */
.projectCard {
    border-bottom: 1px solid #ccc; // linha cinza clara
    padding-bottom: 1rem; // espaço entre o conteúdo e a linha
    margin-bottom: 1rem; // espaço para separar do próximo card
    // background-color: red;

    min-height: 300px;
}

.projectCard__images {
    padding: 1rem;

    .imageGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); // 2 colunas fixas
        grid-auto-rows: 120px; // altura fixa
        gap: 0.5rem;

        a {
            display: block;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 6px;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
                transition: transform 0.2s ease;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}

.projectCard__info{
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 15px !important;
}

.projectDescription {
    height: 80px; // limitar altura da descrição
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    // -webkit-line-clamp: 3; // limita a 3 linhas
    // -webkit-box-orient: vertical;
    margin-bottom: 1rem;
    color: #333;
    font-size: 0.95rem;
}

.projectCard__badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    margin-bottom: 1rem;
}

.projectCard__badge {
    /* Remover color fixo, pois agora vem via inline */
    display: inline-block;
    padding: 0.3em 0.8em;
    font-size: 0.75rem;
    border-radius: 10px;
    margin-right: 0.4rem;
    margin-bottom: 0.3rem;
    white-space: nowrap;
    user-select: none;
    opacity: 0.85;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 1;
    }
}
